model naive bayes and SVM

# Modeling

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
df_train = pd.read_csv("C:/Users/bourg/OneDrive/Documents/springboard/NLP getting started/cleaned/train_data_processed.csv")
prediction = pd.read_csv("C:/Users/bourg/OneDrive/Documents/springboard/NLP getting started/cleaned/test_data_processed.csv")

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7552 entries, 0 to 7551
Columns: 21323 entries, Unnamed: 0 to TFIDF_ûówe
dtypes: float64(21318), int64(2), object(3)
memory usage: 1.2+ GB

In [4]:
df_train = df_train.drop('keyword', axis=1)
df_train.drop('text', axis=1, inplace=True)
df_train.drop('text_clean', axis=1, inplace=True)

In [5]:
df_train = df_train.iloc[: , 1:]

In [6]:
df_train.head()

,target,TFIDF_00,TFIDF_000,TFIDF_0000,TFIDF_007npen6lg,TFIDF_00cy9vxeff,TFIDF_00end,TFIDF_00pm,TFIDF_01,TFIDF_02,...,TFIDF_ûò,TFIDF_ûò800000,TFIDF_ûòthe,TFIDF_ûòåêcnbc,TFIDF_ûó,TFIDF_ûóher,TFIDF_ûókody,TFIDF_ûónegligence,TFIDF_ûótech,TFIDF_ûówe
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
prediction = prediction.drop('keyword', axis=1)
prediction.drop('text', axis=1, inplace=True)
prediction.drop('text_clean', axis=1, inplace=True)
prediction = prediction.iloc[: , 1:]

In [8]:
prediction.head()

,TFIDF_00,TFIDF_000,TFIDF_0000,TFIDF_007npen6lg,TFIDF_00cy9vxeff,TFIDF_00end,TFIDF_00pm,TFIDF_01,TFIDF_02,TFIDF_0215,...,TFIDF_ûò,TFIDF_ûò800000,TFIDF_ûòthe,TFIDF_ûòåêcnbc,TFIDF_ûó,TFIDF_ûóher,TFIDF_ûókody,TFIDF_ûónegligence,TFIDF_ûótech,TFIDF_ûówe
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
df_train['target'] = df_train['target'].replace(1, "True")
df_train['target'] = df_train['target'].replace(0, "False")

In [18]:
df_train.head()

,target,TFIDF_00,TFIDF_000,TFIDF_0000,TFIDF_007npen6lg,TFIDF_00cy9vxeff,TFIDF_00end,TFIDF_00pm,TFIDF_01,TFIDF_02,...,TFIDF_ûò,TFIDF_ûò800000,TFIDF_ûòthe,TFIDF_ûòåêcnbc,TFIDF_ûó,TFIDF_ûóher,TFIDF_ûókody,TFIDF_ûónegligence,TFIDF_ûótech,TFIDF_ûówe
0,True,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,True,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Split test and train sets

In [9]:
y = df_train['target'] #label of whether it's a disaster or not
X = df_train.drop('target', axis=1) #tweet data, already been vectorized

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(X, y, test_size = 0.25)

# Bayes

In [12]:
from sklearn.naive_bayes import MultinomialNB

naive_bayes_classifier = MultinomialNB()
naive_bayes_classifier.fit(X_train, y_train)

#https://iq.opengenus.org/naive-bayes-on-tf-idf-vectorized-matrix/

MultinomialNB()

In [19]:
from sklearn import metrics

y_pred = naive_bayes_classifier.predict(X_test)

# compute the performance measures
score = metrics.accuracy_score(y_test, y_pred)
print("accuracy:   %0.25f" % score)
#is that the right? string?

print(metrics.classification_report(y_test, y_pred,target_names=['True', 'False']))


print(metrics.confusion_matrix(y_test, y_pred))

accuracy:   0.8093220338983050377024142
              precision    recall  f1-score   support

        True       0.79      0.92      0.85      1096
       False       0.85      0.66      0.74       792

    accuracy                           0.81      1888
   macro avg       0.82      0.79      0.80      1888
weighted avg       0.82      0.81      0.80      1888

[[1006   90]
 [ 270  522]]

# SVM

In [20]:
#Import svm model
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel='linear') 

clf.fit(X_train, y_train)
y_pred2 = clf.predict(X_test)

In [21]:
#metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred2))

Accuracy: 0.8066737288135594

In [22]:
print(metrics.classification_report(y_test, y_pred2,target_names=['True', 'False']))


print(metrics.confusion_matrix(y_test, y_pred2))

              precision    recall  f1-score   support

        True       0.79      0.90      0.84      1096
       False       0.84      0.67      0.74       792

    accuracy                           0.81      1888
   macro avg       0.81      0.79      0.79      1888
weighted avg       0.81      0.81      0.80      1888

[[991 105]
 [260 532]]

In [ ]:
#https://www.datacamp.com/community/tutorials/svm-classification-scikit-learn-python

# which to choose

The bayes model has a slightly better score and took less time to run. The f1 scores are slightly better as well, so I will choose this one moving forward.